body{
background-color:white;
text-align:center;
-ms-user-select:none;
-khtml-user-select:none;
-o-user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}
input[type=submit]{
background-color:green;
font-size:20px;
padding:5px 15px;
color:white;
border:none;
border-radius:4px;
}
input[type=text]{
width:auto;
font-size:20px;
padding:5px 10px;
border:none;
border-radius:4px;
}
input[type=text]:valid{
width:auto;
font-size:20px;
padding:5px 10px;
border:none;
border-radius:4px;
box-shadow:0px 0px 32px green;
}
input[type=text]:invalid:required{
width:auto;
font-size:20px;
padding:5px 10px;
border:none;
border-radius:4px;
box-shadow:0px 0px 32px red;
}
  .foot{
  width:100%;
    left:0;
    bottom:0;
    background-color:indigo;
    font-size:10px;
    padding:10px 20px;
    color:white;
    position:fixed;
    text-align:center;
  }
  #Notif{
  background-color:red;
    color:white;
    box-shadow:8px 8px 16px black;
    left:0;
    font-size:16px;
    font-family:courier;
    border-radius:4px;
    position:fixed;
  }
  #close{
  font-size:16px;
    background-color:red;
    border-radius:4px;
     border:none;
  }
